.logout_button {
  color: red;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.logout_button:hover {
  color: black;
  background-color: rgba(0,0,0,.03);
}
