.calendarOuterContainer {
    position: relative;
}

.calendarIconContainer {
    margin-right: -0.25rem;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%; /* What is this even doing why are you using %*/
    right: 0;
    width: 20rem; /* rem is for fonts not containers don't use what you don't understand */
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
    border: 1px solid black;
    animation: dropdown-animation 0.5s ease-out;
    z-index: 999;
    margin-left: -100px;
}


@keyframes dropdown-animation {
    0% {
        transform: translateY(-1em); /* em is also for font size, don't use it */
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.dropdown h5,
.dropdown p {
    padding: 5px 20px;
}

.dropdown button {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 5px 0;
    font-size: 16px;
    cursor: pointer;
}
.dropdown button a {
    color: black;
    text-decoration: none;
}

.dropdown button:hover {
  color: black;
  background-color: rgba(0,0,0,.03);
}
