.container {
    width: 1200px;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16))
}

.header {
    margin-bottom: 20px;
}

.form_entries {
    width: 700px;
    padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
.form_display {
    width: 300px;
    height: auto;
    margin: 50px auto;
    display: flex;
    border: black 1px solid;
    flex-direction: column;
}

.form_container {
    display:flex;
    flex-direction: row;
}

.left_entries {
    width: 300px
}
.right_entries {
    width: 400px;
    align-items: center;

}

.input_container{
    display: flex;
    flex-direction: column
}


.check_container {
    border: 1px, black, solid;
    border-radius: 3px;
}
