.container {
    /* width: 1200px; */
    height: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    align-items: center;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16))
}

.header {
    margin-bottom: 20px;
}

.form_entries {
    width: 700px;
    padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px 20px;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
.form_display {
    width: 300px;
    height: 400px;
    /* margin: 50px 10px; */
}
.form_display h3 {
    text-align: center
}

.form_container {
    display:flex;
    flex-direction: row;
}

.left_entries {
    width: 300px
}
.right_entries {
    width: 300px;
    align-items: center;
    margin: 0 auto;

}

.input_container{
    display: flex;
    flex-direction: column
}

.input_container label{
    font-size: 18px;
    font-weight: 500;
}

.cuisines_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.settings_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.legend {
    font-size: 20px;
    font-weight: bold
}

.check_boxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start

}

.check_label {
    border-bottom: 1px solid;
    padding: 5px;
    display: flex;
    align-items: center;
    text-indent: 10px;
}

.check_boxes label {
    font-size: 15px;
    padding: 2px;
}

.error_messages {
    color: #da3743;
}

.card_header {
    margin-top: 0;
}

.button_container {
    display: flex;
    flex-direction: row;
}

.button {
    height: 45px;
    width: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #da3743;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 20px;
    transition: all 0.5s ease 0s;

  }

  .button:hover {
    cursor: pointer;
    background-color: #bc202b;
  }

  .each_container {
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 275px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 3px;
    transition: all linear 0.3s;
}

.each_container h3 {
    margin: 0;
}

.each_container div {
    font-size: 14px;
    width: 100%;
}

.each_container div i {
    margin-right: 10px;
}

.card_img img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.info {
    padding: 8px;
}

.borough_price {
    display: flex;
    justify-content: space-between;
}

.categories {
    margin-top: 5px;
}

.each_container a {
    color: black;
    text-decoration: none;
}
