.review_form_parent {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
	height: 60px;
	border: 1px solid grey;
	grid-area: 1 / 2 / 2 / 3;
	resize: none;
	border-radius: 5px;
	overflow-y: scroll;
	margin: 0;
	padding: 8px;
	font-size: 14px;
}

.error_container {
	background-color: #c1c1c1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 20px;
	margin: 15px 0;
	width: 100%;
}

.reviewHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.reviewContainer {
	height: 200px;
	width: 100%;
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-areas: "img ";
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
}

.image {
	height: 100%;
	object-fit: cover;
}

.sub1 {
	width: 100%;
	height: 200px;
	border-bottom: none;
	object-fit: cover;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}

/* .textbox {
	margin: 10px 0;
} */

.rating_container {
	display: flex;
	justify-content: space-between;
}

select {
	background-color: rgb(46, 46, 46);
	color: white;
	padding: 5px;
	border-radius: 5px;
	border: none;
	width: 200px;
	font-size: 12px;
	margin-bottom: 10px;
}

.reset {
	border: 1px solid black;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 20px;
	background-color: #c1c1c1;
}

.reset,
.submit {
	transition: all linear 0.25s;
}

.reset:hover,
.submit:hover {
	opacity: 0.85;
}

.submit {
	border: 1px solid black;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	background-color: #7d2c3b;
}

.url {
	width: 100%;
	border-radius: 5px;
	border: 1px solid black;
	filter: none;
	font-size: 12px;
	height: 25px;
	padding: 8px;
}

.reset_submit {
	display: flex;
	padding: 10px 0 5px 5px;
	justify-content: flex-end;
}
/*
.div2 {
	height: 50px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.div3 {
	height: 50px;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.div4 {
	height: 50px;
	width: 600px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.div4 select {

}

.div5 {
	height: 100px;
	width: 600px;
}

.div6 {
	height: 50px;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div7 {
	height: 50px;
	width: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div8 {
	height: 50px;
	width: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
} */

/*


*/
/*
.starsContainer {
	transform: translate(-50%, -50%) rotateY(180deg);
	display: flex;
	justify-content: center;
	margin-left: 80px;
	margin-top: 20px;
}

.starsContainer label {
	display: block;
	cursor: pointer;
	width: 25px;
	padding-left: 10px;
}

.starsContainer label::before {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: relative;
	display: block;
	font-size: 18px;
	color: #6b6a6a;
}

.starsContainer input {
	display: none;
}

.starsContainer label::after {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 18px;
	position: absolute;
	display: block;
	top: 0;
	opacity: 0;
	transition: 0.5s;
	background: -webkit-linear-gradient(45deg, #d24e65, #fc6260, #f2bb78);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.starsContainer label:hover::after,
.starsContainer label:hover ~ label::after,
.starsContainer input:checked ~ label::after {
	opacity: 1;
} */

/* .starsContainer label:nth-child(1):checked ~ label:nth-of-type(-n + 1),
.starsContainer label:nth-child(2):checked ~ label:nth-of-type(-n + 2),
.starsContainer label:nth-child(3):checked ~ label:nth-of-type(-n + 3),
.starsContainer label:nth-child(4):checked ~ label:nth-of-type(-n + 4),
.starsContainer label:nth-child(5):checked ~ label:nth-of-type(-n + 5) {
  opacity: 1;
} */
