.footer {
    background-color: #24599D;
    width: 1600px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.container {
    height: 260px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.links {
    height: 260px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
}

.discover {
    width: 250px;
    height: 150px;
    color: white;
}

.label {
    font-weight: 800;
}

.sectionLinks {
    list-style: none;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.horizontalLine {
    width: 1000px;
    height: 2px;
    background-color: #C7C7C7;
}

.descriptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 0px;
}

.items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.github {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
}

.linkedin {
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 5px;
}
