.footer {
    background-color: #24599D;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 99;
    overflow-y: hidden;
    transition: all 0.75s ease-in;
}

.footer:hover {
    height: 250px;
}

.container {
    width: 100%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    color: white;
    padding: 10px 25px 0 25px;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: top;
}

.links h5 {
    text-align: center;
}

.devicons {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.devicons i:hover {
    color: rgb(183, 183, 183);
}

.label {
    font-weight: 900;
    /* padding: 5px; */
}


.horizontalLine {
    width: 100%;
    height: 2px;
    background-color: #C7C7C7;
    margin: 20px 0;
}

.descriptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    color: white;
}
.items_container {
    display: flex;
    justify-content: space-evenly;
}

.items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.github {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100%;
    margin-left: 5px;
}

.linkedin {
    width: 15px;
    height: 15px;
    background-color:white;
    border-radius: 5px;
    margin-left: 5px;
}
