.container {
	background-color: white;
	width: 1200px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 100px;
}

.rw_parent {
	width: 100%;
}

.singleReview {
	background-color: white;
	border-bottom: 1px solid #C7C7C7;
	display: grid;
  grid-template-columns: 100px 200px 400px repeat(2, 0);
  grid-template-rows: 125px repeat(4, 0);
	gap: 5px;
	padding-top: 10px;
	width: 800px;
}

.r_left {
	grid-area: 1 / 1 / 2 / 2;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.r_right {
  grid-area: 1 / 3 / 2 / 4;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 5px;
	font-size: 14px;
}

.iconContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.icon {
	grid-column: 1 / 2;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	font-weight: bold;
}

.nameAndCount {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.image {
  grid-area: 1 / 2 / 2 / 3;
	object-fit: cover;
	width: 100%;
	border-radius: 20px;
}

.content {
	width: 100%;
	display: flex;
}

.stars {
	display: flex;
	align-items: flex-end;
	color: #fc6260;
}

.reviewCount {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 40px;
	justify-content: space-evenly;
	font-size: 14px;
	margin-top: 10px;
}

.imageContainer {
	padding-top: 15px;
}

.editDelete {
	grid-column: 1 / 4;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	top: 0;
	right: 0;
}

.delete {
	margin-left: 15px;
	cursor: pointer;
	transition: all linear 0.2s;
	color: black;
}

.delete:hover {
	color: rgb(186, 33, 33);
}

.restaurantContainer {
  padding-left: 10px;
  padding-right: 10px;
}

.restaurantName {
  padding-left: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
}

.restaurantName:hover {
  cursor:pointer;
}

.image:hover {
  cursor: pointer;
}
