.dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: red;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid black;
    transform:rotate(-90deg);
}

.dropdown th, .dropdown td{
    transform:rotate(90deg);
}
