.clear_bar {
    width: 200px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
}

.red_bar {
    background-color: red;
    height: 50px;
    border: 1px solid black;
}
