.userIcon {
    width: 30px;
    height: 30px;
    background-color: red;
}

.button {
    color: black;
    font-size: 18px;
    text-align: left;
    background-color: none;
    border: none;
    cursor: pointer;
    width:fit-content;
}

.button:hover {
  color: #FC6260;
}

