.button {
  height: 45px;
  width: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #983937;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 20px;
}

.button:hover {
  cursor: pointer;
}
