.button {
  height: 45px;
  width: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #da3743;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 20px;
  transition: all 0.5s ease 0s;

}

.button:hover {
  cursor: pointer;
  background-color: #bc202b;
}
