.container {
  background-color: green;
  width: 100%;
}

.singleReview {
  background-color: orange;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 100px 200px repeat(2, 0) 500px;
  grid-template-rows: repeat(2, 100px) repeat(3, 0);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.icon {
  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-weight: bold;
}

.nameAndCount {
  grid-area: 2 / 1 / 3 / 2;
  display:flex;
  justify-content: center;
}

.image {
  grid-area: 1 / 2 / 3 / 4;
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.content {
  grid-area: 2 / 4 / 3 / 6;
}

.rating {
  grid-area: 1 / 4 / 2 / 6;
}
