.container {
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f7f7f7;
}



.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  justify-content: space-evenly;
  margin-right: -10px;
}
