.container {
  width: 1600px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  align-items: center;
  background-color: #f7f7f7;
  z-index: 100;
}

/* @media only screen and (max-width: 1200px) {
  .container {
    width: 1200px;
  }
} */

.container > div.logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

.home_link {
  text-decoration: none;
  color: black;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.home_link span {
  margin-left: 10px;
  font-size: 1.25rem;
  font-weight: 900;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 2rem;
  width: fit-content;
  justify-content: space-between;
}

.right * {
  margin-right: 0.5rem;
}

.signup {
  background-color: #247f9e;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: all 0.3s linear;
}

.profile_icon {
  cursor: pointer;
}

.calendar_icon {
  cursor: pointer;
}

.signup:hover {
    background-color: #2ba6ce;
}

.signin {
  text-decoration: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: black;
  box-shadow:0px 0px 0px 1px gray inset;
  font-size: 14px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: all 0.3s linear;
}

.signin:hover {
  background-color: rgb(213, 213, 213);
}

.search_icon {
  cursor: pointer;
}
